body{
  margin: 0;
  font-size: clamp(.5rem, 2.5vmin, 1.5rem);
}

.App {
  background-color: #212121;
  min-height: 100vh;
  width: 100%;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.deleteIcon{
  margin: 0 auto;
  flex-shrink: 0;
}
.icon-svg{
  flex-shrink: 0;
}